{% extends 'plant/base.html' %}
{% load static %}
{% block content %}
    <div class="content-section">
        <h1>About us</h1>
        <img src="{% static 'plant/images/plants.jpg' %}" width="200" height="200" alt="">
        <p>
            Dr. Plant is a online plant leaf disease detection system. We can provide service to the farmer
            to make their healthy plants.
        </p>
        <p>
            We provides free service to grow country farmers
        </p>
    </div>
{% endblock content %}